.wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 14px;
}

.title {
}

.value {
  color: var(--color-gray-300);
  font-size: 14px;
  font-weight: normal;
}

.value::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 14px;
  margin: 0 4px;
  transform: translateY(2px);
  background-color: var(--color-gray-200);
}

.price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-secondary);
}

.paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: var(--color-primary-100);
  color: var(--color-white);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.paymentButton::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-image: url(../../assets/logo.png);
}

.paymentButton:hover {
  background-color: var(--color-primary-200);
}

.paymentButton:disabled {
  background-color: var(--color-gray-200);
  cursor: not-allowed;
}

.paymentButton:disabled::before {
  background-image: url(../../assets/logo_disable.png);
}
